<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Visit History</title>
  </head>
  <body>
    <div>
      <p>Number of visits on http://127.0.0.1:8000/api/url/<%= shortID %> is <%= visits %></p>
    </div>
  </body>
</html>
